# unused fonts
fonts/.fonts/*
# 0xProto
# CascadiaCode
!fonts/.fonts/JetBrainsMono
# Meslo
# singkong
# Agave
!fonts/.fonts/FontAwesome.otf
# Lexend
# Noto

# unused themes
themes/.themes/*
!themes/.themes/prelude-dfr-0.5-tokyo
!themes/.themes/Tokyonight-Dark-Moon

# unused icons (so that it would not pushed too much)
icons/.icons/*
!icons/.icons/Vimix-Doder-dark
!icons/.icons/Vimix-White-dark

# mpv
mpv_sub-delay.json
watch_later
persistent_config.json

wallpaper/Pictures/walls/*
!wallpaper/Pictures/walls/meme.png
wallpaper/.config/wallpaper/current
!wallpaper/.config/wallpaper/.gitkeep