/*
 * Tokyonight colorscheme for rofi
 * User: w8ste
 */

// * {
//     background:      #222436;
//     background-alt:  #1e2030;
//     foreground:      #c8d3f5;
//     selected:        #7dcfff;
//     active:          #bb9af7;
//     urgent:          #ff757f;
//     border-color:    #444a73;
//     separatorcolor:  #444a73;
//     border-radius:   8px;
//     padding:         8px 12px;
//     font:            "JetBrainsMono Nerd Font 12";
// }

// define colors etc.
* {
    bg: #222436;
    hv: #7dcfff;//#bb9af7;
    hva:rgba(125, 207, 255, 0.5);
    primary: #c8d3f5;
    ug: #1e2030;
    font: "Monospace 11";
    background-color: @bg;
    //dark: @bg;
    border: 0px;
    kl: #7aa2f7;
    black: #000000;

    transparent: rgba(46,52,64,0);
}

// defines different aspects of the window
window {
    width: 700;
    /*since line wont work with height, i comment it out 
    if you rather control the size via height
    just comment it out */
    //height: 500;

    orientation: horizontal;
    location: center;
    anchor: center;
    transparency: "screenshot";
    border-color: @transparent;   
    border: 0px;
    border-radius: 6px;
    spacing: 0;
    children: [ mainbox ];
}

mainbox {
    spacing: 0;
    children: [ inputbar, message, listview, sidebar ];
}

inputbar {
    color: @kl;
    padding: 11px;
    // border: 3px 3px 2px 3px;
    // border-color: @primary;
    // border-radius: 6px 6px 0px 0px;
}

message {
    padding: 0;
    // border-color: @primary;
    // border: 0px 1px 1px 1px;
}

entry, prompt, case-indicator {
    text-font: inherit;
    text-color: inherit;
}

entry {
    cursor: pointer;
}

prompt {
    margin: 0px 5px 0px 0px;
}

listview {
    layout: vertical;
    spacing: 5px;
    padding: 8px;
    columns: 1;
    columns: 3;
    spacing: 8px;
    fixed-height: true;
    // border: 0px 3px 3px 3px; 
    // border-radius: 0px 0px 6px 6px;
    // border-color: @primary;
    lines: 6;
    // max-lines: 6;
    dynamic: true;
}

element {
    padding: 2px;
    vertical-align: 1;
    color: @kl;
    font: inherit;
}

element-text {
    background-color: inherit;
    text-color: inherit;
}

element selected.normal {
    color: @black;
    background-color: @hv;
}

element normal active {
    background-color: @hv;
    color: @black;
}

element-text, element-icon {
    background-color: inherit;
    text-color: inherit;
}

element normal urgent {
    background-color: @primary;
}

element selected active {
    background: @hv;
    foreground: @bg;
}

button {
    padding: 6px;
    color: @primary;
    horizonatal-align: 0.5;

    // border: 2px 0px 2px 2px;
    // border-radius: 4px 0px 0px 4px;
    // border-color: @primary;
}

button selected normal {
    // border: 2px 0px 2px 2px;
    // border-color: @primary;
}

scrollbar {
    enabled: true;
} 

sidebar {
    border: 0px 0px 0px 0px;
    background-color: @hva;
    padding: 0px;
    text-color: @hv;
}