[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=autohide polybar on fullscreen
Comment=autohide polybar on fullscreen
Exec=/home/graceyudha/.config/polybar/scripts/autohide_on_fullscreen.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

