[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=feh wallpaper
Comment=feh wallpaper
Exec=feh --bg-fill /home/graceyudha/Pictures/wallpaper.jpg
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

